{"openapi":"3.0.1","info":{"title":"Dados Abertos - Obrasgov.br","description":"<h2>Dados Abertos do Cadastro Integrado de Projetos de Investimentos - ObrasGov.br</h2>\n\n<p>O <strong>ObrasGov.br</strong> passa a gerir a solução tecnológica para a melhoria da governança dos investimentos federais em infraestrutura, por meio do acompanhamento e do monitoramento da execução dos investimentos em projetos de infraestrutura do Governo Federal. Facultativamente, outros poderes da União, Estados, Distrito Federal e Municípios poderão cadastrar investimentos em infraestrutura com recursos próprios por meio de manifestação formal de sua adesão.</p>\n\n<p>O <strong>ObrasGov.br</strong>, além de atender a diversos acórdãos do Tribunal de Contas da União, visa atender à demanda da sociedade por informações claras, atualizadas e centralizadas. Assim, impacta positivamente na efetividade da execução das políticas públicas e na tomada de decisão por parte dos gestores, além de viabilizar o controle social pela transparência.</p>\n\n<p>A plataforma reúne informações acerca da geolocalização dos investimentos e permite se integrar aos demais sistemas de acompanhamento, controle e fiscalização, otimizando, assim, o acesso dos cidadãos a informações e fortalecendo a transparência no que se refere ao uso racional dos recursos públicos.</p>\n\n<p>Para mais informações, acesse: <a href=\"https://www.gov.br/transferegov/pt-br/obrasgov/sobre\" target=\"_blank\">https://www.gov.br/transferegov/pt-br/obrasgov/sobre</a></p>\n\n<h2>Por que Dados Abertos do ObrasGov.br?</h2>\n\n<p>A prestação de dados como um serviço governamental traz vantagens para toda a sociedade, incluindo o próprio governo.</p>\n\n<p>O governo está comprometido em promover a transparência dos gastos públicos, fornecer informações de valor agregado à sociedade e promover a pesquisa e inovação tecnológica através da implementação da política brasileira de dados abertos.</p>\n\n<h2>Quais dados estão disponíveis?</h2>\n\n<p>O <strong>ObrasGov.br</strong> mantém registro de informações acerca da geolocalização dos investimentos em infraestrutura executados como recurso público, assim como dados do acompanhamento físico destes. Abaixo uma lista dos dados disponíveis por essa API:</p>\n<ul>\n  <li>Dados dos projetos de investimentos em infraestrutura;</li>\n  <li>Dados dos de georreferenciamento projetos de investimentos em infraestrutura;</li>\n  <li>Dados da Execução Física;</li>\n  <li>Dados de Execução Financeira;</li>\n</ul>\n\n<h2>LGPD - Lei Geral de Proteção de Dados - Serviço de Dados Aberto do ObrasGov.br</h2>\n\n<p>Em atendimento à LGPD, os serviços disponibilizados nessa API não recuperam nenhum dado sensível definido na LGPD.</p>\n\n<h2>Como utilizar a API</h2>\n\n<p>Os serviços disponibilizados são públicos. O acesso aos dados é feito através de URLs, e o retorno é em recursos web no formato JSON. Em cada consulta é possível especificar uma série de parâmetros de filtro, que devem compor a URL. Para acessar os dados da API é necessário conhecer o endereço ou URL:</p>\n\n<p><a href=\"https://api-obrasgov.dth.api.gov.br/obrasgov/api /projeto-investimento?idUnico=01.52-52&page=0&size=10\" target=\"_blank\">https://api-obrasgov.dth.api.gov.br/obrasgov/api /projeto-investimento?idUnico=01.52-52&page=0&size=10</a></p>\n\n<p>O método indica que será uma requisição GET paginada, sendo na página 0 e de tamanho 10. Consulte nossa documentação para saber quais são os métodos disponíveis. Na documentação, os campos estão listados em ordem alfabética para facilitar a consulta. O parâmetro idUnico é utilizado para filtrar os registros retornados pelo método. Alguns exemplos de consultas:</p>\n\n<ul>\n  <li>Esta consulta busca o projeto de investimento com ID \"01.52-52\": <a href=\"https://api-obrasgov.dth.api.gov.br/obrasgov/api /projeto-investimento?idUnico=01.52-52&page=0&size=10\" target=\"_blank\">https://api-obrasgov.dth.api.gov.br/obrasgov/api /projeto-investimento?idUnico=01.52-52&page=0&size=10</a></li>\n  <li>Esta consulta busca a execução física do projeto de investimento com ID \"01.52-52\": <a href=\"https://api-obrasgov.dth.api.gov.br/obrasgov/api /execucao-fisica?idUnico=01.52-52&page=0&size=10\" target=\"_blank\">https://api-obrasgov.dth.api.gov.br/obrasgov/api /execucao-fisica?idUnico=01.52-52&page=0&size=10</a></li>\n</ul>\n\n<p>Todas as consultas acima podem retornar dados no formato JSON.</p>\n\n","contact":{"name":"ObrasGov - Cadastro Integrado de Projetos de Investimentos","url":"http://obrasgov.sistema.gov.br","email":"http://cipi@economia.gov.br"},"version":"1.0.15"},"servers":[{"url":"https://api.obrasgov.gestao.gov.br/obrasgov/api","description":"Generated server url"}],"tags":[{"name":"Geometria","description":"Georreferenciamento de Intervenções"},{"name":"Execução Física","description":"Execução Física dos Projetos de Investimentos em Infraestrutura"},{"name":"Execução Financeira","description":"Execução Financeira dos Projetos e Investimento do Obrasgov"},{"name":"Projeto De Investimento","description":"Projetos de Investimento em Infraestrutura"}],"paths":{"/projeto-investimento":{"get":{"tags":["Projeto De Investimento"],"summary":"Consulta Projetos de Investimento em Infraestrutura","description":"Retorna uma Lista Paginada com os dados de identificação da Intervenção com base nos filtros utilizados. Filtros não obrigatórios.","operationId":"buscarPorFiltro","parameters":[{"name":"idUnico","in":"query","description":"Identificador da Intervenção","required":false,"schema":{"type":"string"}},{"name":"situacao","in":"query","description":"Situação da Intervenção (Em Execução, Paralisada, Cancelada, Castrada, Concluída ou Inacabada)","required":false,"schema":{"type":"string"}},{"name":"codigoOrganizacao","in":"query","description":"Código da Organização que participa da Intervenção (Entre os Repassadores, Executores ou Tomadores do Projeto de Investimento)","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"nomeOrganizacao","in":"query","description":"Nome da Organização que participa da Intervenção (Entre os Repassadores, Executores ou Tomadores do Projeto de Investimento)","required":false,"schema":{"type":"string"}},{"name":"uf","in":"query","description":"UF principal do Intervenção. Ex: DF.","required":false,"schema":{"type":"string"}},{"name":"dataCadastro","in":"query","description":"Data de Cadastro da Intervenção.","required":false,"schema":{"type":"string","format":"date"}},{"name":"natureza","in":"query","description":"Natureza da Intervenção. Ex: Obra.","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"Pagina atual","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanhoDaPagina","in":"query","description":"Tamanho da Página","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProjeto De Investimento"}}}}}}},"/geometria":{"get":{"tags":["Geometria"],"summary":"Consulta o Georreferenciamento.","description":"Retorna uma Lista de Geometrias em WKT que compõe o georreferenciamento do Projeto de Investimento em Infraestrutura com base no ID Único.","operationId":"buscarPorProjetoInvestimento","parameters":[{"name":"idUnico","in":"query","description":"Identificador da Intervenção","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GeometriaWktDTO"}}}}}}}},"/execucao-fisica":{"get":{"tags":["Execução Física"],"summary":"Consulta a Execução Física.","description":"Retorna uma Lista Paginada dos dados da execução física dos Projetos de Investimento em Infraestrutura, informações de situação, percentual de execução física, indicativos da paralização, motivos, justificativas.","operationId":"buscarPorFiltro_1","parameters":[{"name":"idUnico","in":"query","description":"Identificador da Intervenção","required":false,"schema":{"type":"string"}},{"name":"situacao","in":"query","description":"Situação da Intervenção (Em Execução, Paralisada, Cancelada, Castrada, Concluída ou Inacabada)","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"Pagina atual","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanhoDaPagina","in":"query","description":"Tamanho da Página","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageExecução Física"}}}}}}},"/execucao-fisica/arquivos-da-intervencao":{"get":{"tags":["Execução Física"],"summary":"Consulta os Arquivos (Fotos e Vídeos) da Intervenção.","description":"Retorna uma lista de arquivos que compõem o relatório fotográfico e vídeos do idUnico da intervenção.","operationId":"listarArquivosDaIntervencao","parameters":[{"name":"idUnico","in":"query","description":"Identificador da Intervenção","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseArquivoIntervencaoDTO"}}}}}}},"/execucao-financeira":{"get":{"tags":["Execução Financeira"],"summary":"Consulta execução financeira","description":"Retorna uma Lista Paginada dos dados financeiros dos Projetos de Investimento em Infraestrutura, ou seja, lista de empenhos gerados no Obrasgov e em outros sistemas.","operationId":"buscarPorFiltro_2","parameters":[{"name":"idProjetoInvestimento","in":"query","description":"Identificador da Intervenção","required":false,"schema":{"type":"string"}},{"name":"nrNotaEmpenho","in":"query","description":"Número do Empenho","required":false,"schema":{"type":"string"}},{"name":"ugEmitente","in":"query","description":"UG Emitente","required":false,"schema":{"type":"string"}},{"name":"anoInicial","in":"query","description":"Ano Inicial (AAAA)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"anoFinal","in":"query","description":"Ano Final (AAAA)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pagina","in":"query","description":"Pagina atual","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanhoDaPagina","in":"query","description":"Tamanho da Página","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFiltroExecucaoFinanceiraDTO"}}}}}}},"/execucao-financeira/saldo-contabil":{"get":{"tags":["Execução Financeira"],"summary":" Consulta Saldo Contábil Obrasgov","description":"Retorna uma Lista Paginada dos dados financeiros dos Projetos de Investimento em Infraestrutura, ou seja, lista de empenhos gerados no Obrasgov e em outros sistemas.","operationId":"getSaldoContabil","parameters":[{"name":"ugEmitente","in":"query","description":"UG Emitente","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"nrNotaEmpenho","in":"query","description":"Número do Empenho","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"Pagina atual","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanhoDaPagina","in":"query","description":"Tamanho da Página","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFiltroSaldoContabilDTO"}}}}}}},"/execucao-financeira/contrato":{"get":{"tags":["Execução Financeira"],"summary":" Consulta Contrato Obrasgov","description":"Retorna uma Lista Paginada dos dados financeiros dos Projetos de Investimento em Infraestrutura.","operationId":"getContratoIntervencao","parameters":[{"name":"idProjetoInvestimento","in":"query","description":"Identificador da Intervenção","required":false,"schema":{"type":"string"}},{"name":"pagina","in":"query","description":"Pagina atual","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"tamanhoDaPagina","in":"query","description":"Tamanho da Página","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFiltroContratoIntervencaoDTO"}}}}}}}},"components":{"schemas":{"Eixo":{"type":"object","properties":{"id":{"type":"integer","description":"ID do Eixo","format":"int32"},"descricao":{"type":"string","description":"Descrição do Eixo"}},"description":"Eixos"},"Executor":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do Executor"},"codigo":{"type":"integer","description":"Código do Executor","format":"int64"}},"description":"Executores do Investimento"},"FonteRecurso":{"type":"object","properties":{"origem":{"type":"string","description":"Origem da Fonte de Recurso"},"valorInvestimentoPrevisto":{"type":"number","description":"Valor do Investimento Previsto"}},"description":"Fontes de recurso do Investimento"},"PageProjeto De Investimento":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Projeto De Investimento"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"}}},"Projeto De Investimento":{"type":"object","properties":{"idUnico":{"type":"string","description":"ID do Projeto de Investimento"},"nome":{"type":"string","description":"Nome Projeto de Investimento"},"cep":{"type":"string","description":"CEP"},"endereco":{"type":"string","description":"Endereço"},"descricao":{"type":"string","description":"Descrição do Investimento"},"funcaoSocial":{"type":"string","description":"Função Social"},"metaGlobal":{"type":"string","description":"Meta Global"},"dataInicialPrevista":{"type":"string","description":"Data Inicial Prevista","format":"date"},"dataFinalPrevista":{"type":"string","description":"Data Final Prevista","format":"date"},"dataInicialEfetiva":{"type":"string","description":"Data Inicial Efetiva","format":"date"},"dataFinalEfetiva":{"type":"string","description":"Data Final Efetiva","format":"date"},"dataCadastro":{"type":"string","description":"Data de cadastro do Investimento","format":"date"},"especie":{"type":"string","description":"Espécie da Intervenção"},"natureza":{"type":"string","description":"Natureza da Intervenção"},"naturezaOutras":{"type":"string","description":"Outros tipos de Natureza da Intervenção"},"situacao":{"type":"string","description":"Situação da Intervenção"},"descPlanoNacionalPoliticaVinculado":{"type":"string","description":"Descrição do Plano de Política Vinculado"},"uf":{"type":"string","description":"UF principal da Intervenção"},"qdtEmpregosGerados":{"type":"string","description":"Quantidade de empregos gerados"},"descPopulacaoBeneficiada":{"type":"string","description":"Descrição da População beneficiada"},"populacaoBeneficiada":{"type":"string","description":"Quantidade da população beneficiada"},"observacoesPertinentes":{"type":"string","description":"Observações Pertinentes"},"isModeladaPorBim":{"type":"boolean","description":"Indica se é modelada por BIM"},"dataSituacao":{"type":"string","description":"Data da situação","format":"date"},"tomadores":{"type":"array","description":"Tomadores do Investimento","items":{"$ref":"#/components/schemas/Tomador"}},"executores":{"type":"array","description":"Executores do Investimento","items":{"$ref":"#/components/schemas/Executor"}},"repassadores":{"type":"array","description":"Repassadores do Investimento","items":{"$ref":"#/components/schemas/Repassador"}},"eixos":{"type":"array","description":"Eixos","items":{"$ref":"#/components/schemas/Eixo"}},"tipos":{"type":"array","description":"Tipos","items":{"$ref":"#/components/schemas/Tipo"}},"subTipos":{"type":"array","description":"Subtipos","items":{"$ref":"#/components/schemas/Sub-Tipo da Paralisação"}},"fontesDeRecurso":{"type":"array","description":"Fontes de recurso do Investimento","items":{"$ref":"#/components/schemas/FonteRecurso"}}}},"Repassador":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do Repassador"},"codigo":{"type":"integer","description":"Código do Repassador","format":"int64"}},"description":"Repassadores do Investimento"},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"}}},"Sub-Tipo da Paralisação":{"type":"object","properties":{"id":{"type":"integer","description":"ID do Subtipo","format":"int32"},"descricao":{"type":"string","description":"Nome do Subtipo"},"idTipo":{"type":"integer","description":"ID do Tipo em que este Subtipo é vinculado","format":"int32"}},"description":"Subtipos"},"Tipo":{"type":"object","properties":{"id":{"type":"integer","description":"ID do Tipo","format":"int32"},"descricao":{"type":"string","description":"Descrição do Tipo"},"idEixo":{"type":"integer","description":"ID do eixo em que este Tipo é vinculado","format":"int32"}},"description":"Tipos"},"Tomador":{"type":"object","properties":{"nome":{"type":"string","description":"Nome do Tomador"},"codigo":{"type":"integer","description":"Código do Tomador","format":"int64"}},"description":"Tomadores do Investimento"},"GeometriaWktDTO":{"type":"object","properties":{"geometriaWkt":{"type":"string","description":"Geometria em Wkt"},"geometria":{"type":"string","description":"Geometria do Investimento"},"dataCriacao":{"type":"string","description":"Data de Criação","format":"date"},"origem":{"type":"string","description":"Origem da Geometria do Investimento"},"dataMetadado":{"type":"string","description":"Data dos metadados","format":"date"},"infoAdicionais":{"type":"string","description":"Informações adicionais do Metadado"},"datum":{"type":"string","description":"Datum do Metadado"},"nomeAreaExecutora":{"type":"string","description":"Nome do contato da área executora"},"enderecoAreaExecutora":{"type":"string","description":"Endereço do contato da área executora"},"cepAreaExecutora":{"type":"string","description":"CEP do contato da área executora"},"paisAreaExecutora":{"type":"string","description":"País do contato da área executora"}}},"Dados de Situação Cancelada ou Paralisada":{"type":"object","properties":{"id":{"type":"integer","description":"ID do dado de cancelamento ou paralisação","format":"int64"},"justificativa":{"type":"string","description":"Justificativa do Cancelamento ou Paralisação"},"possuiTratativa":{"type":"boolean","description":"Indica se possui tratativa"},"faseTratativa":{"type":"string","description":"Fase de Tratativa"},"motivosParalisacao":{"type":"array","description":"Motivos de Paralisação","items":{"$ref":"#/components/schemas/Motivo da Paralisação"}},"indicativosParalisacao":{"type":"array","description":"Indicativos de Paralisação","items":{"$ref":"#/components/schemas/Indicativo da Paralisação"}}},"description":"Dados da situação cancelada ou paralisada"},"Documento de Início e Término da Intervenção":{"type":"object","properties":{"dataCriacao":{"type":"string","description":"Data de criação","format":"date-time"},"dataEmissao":{"type":"string","description":"Data de emissão","format":"date-time"},"descricaoArquivo":{"type":"string","description":"Descrição do arquivo"},"nomeDocumento":{"type":"string","description":"Nome do Documento"},"tipoDocumento":{"type":"string","description":"Tipo do documento"},"dataInicialEfetiva":{"type":"string","description":"Data Inicial Efetiva","format":"date-time"},"dataFinalEfetiva":{"type":"string","description":"Data Final Efetiva","format":"date-time"}},"description":"Documentos de inicio ou término do Investimento"},"Execução Física":{"type":"object","properties":{"idUnico":{"type":"string"},"percentual":{"type":"integer","description":"Percentual da Execução Física","format":"int32"},"dataSituacao":{"type":"string","description":"Data da Situação do Investimento","format":"date-time"},"situacao":{"type":"string","description":"Situação atual do Investimento"},"observacoes":{"type":"string","description":"Observações"},"emOperacao":{"type":"boolean","description":"Indica se a Obra está em Operação"},"justificativaEmOperacao":{"type":"string","description":"Justificativa da Obra em operação, isso se esta estiver em Operação"},"cancelamentosParalisacoes":{"type":"array","description":"Dados da situação cancelada ou paralisada","items":{"$ref":"#/components/schemas/Dados de Situação Cancelada ou Paralisada"}},"documentos":{"type":"array","description":"Documentos de inicio ou término do Investimento","items":{"$ref":"#/components/schemas/Documento de Início e Término da Intervenção"}}}},"Indicativo da Paralisação":{"type":"object","properties":{"descricao":{"type":"string","description":"Descrição do Indicativo da Paralisação ou Cancelamento"}},"description":"Indicativos de Paralisação"},"Motivo da Paralisação":{"type":"object","properties":{"descricao":{"type":"string","description":"Descrição do Motivo da Paralisação ou Cancelamento"}},"description":"Motivos de Paralisação"},"PageExecução Física":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Execução Física"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"Arquivo da Interveção":{"type":"object","properties":{"id":{"type":"integer","description":"Identificador do arquivo. (É auto-gerado, não precisa informar).","format":"int64","example":1},"dataGeracaoArquivo":{"type":"string","description":"Data em que foi gerado o arquivo.","format":"date","example":"2022-01-01"},"tags":{"type":"array","description":"Lista de Tags do arquivo. Informe apenas o ID","items":{"$ref":"#/components/schemas/TagArquivoDTO"}},"latitude":{"type":"number","description":"Latitude da localização da obra em que o arquivo pertence.","format":"double","example":-16.6869},"longitude":{"type":"number","description":"Longitude da localização da obra em que o arquivo pertence.","format":"double","example":-49.2648},"legendaArquivo":{"type":"string","description":"Legenda do arquivo.","example":"Teste Arquivo"},"listaArquivos":{"type":"array","description":"Lista de arquivos, contendo o nome o byte array.","items":{"$ref":"#/components/schemas/ArquivoFileDTO"}},"idProjetoInvestimento":{"type":"string","description":"Id do Projeto de Investimento/Intervenção.","example":"01.52-52"}},"description":"Arquivo da Interveção contendo os dados de um arquivo de uma obra"},"ArquivoFileDTO":{"type":"object","properties":{"name":{"type":"string","description":"Nome do arquivo.","example":"teste.pnj"},"byteArray":{"type":"array","description":"Bytes do arquivo.","example":[65,66,67,68,69],"items":{"type":"string","description":"Bytes do arquivo.","format":"byte","example":"WzY1LDY2LDY3LDY4LDY5XQ=="}}},"description":"Lista de arquivos, contendo o nome o byte array."},"ResponseArquivoIntervencaoDTO":{"type":"object","properties":{"listaArquivosRepassadores":{"type":"array","items":{"$ref":"#/components/schemas/Arquivo da Interveção"}},"listaArquivosExecutores":{"type":"array","items":{"$ref":"#/components/schemas/Arquivo da Interveção"}}}},"TagArquivoDTO":{"type":"object","properties":{"id":{"type":"integer","description":"ID da Tag","format":"int64"},"nome":{"type":"string","description":"Nome da Tag"}},"description":"Lista de Tags do arquivo. Informe apenas o ID"},"FiltroExecucaoFinanceiraDTO":{"type":"object","properties":{"nrNotaEmpenho":{"type":"string"},"nomeEsferaOrcamentaria":{"type":"string"},"nomeTipoEmpenho":{"type":"string"},"fonteRecurso":{"type":"string"},"naturezaDespesa":{"type":"string"},"numeroProcesso":{"type":"string"},"descricaoEmpenho":{"type":"string"},"planoInterno":{"type":"string"},"resultadoPrimario":{"type":"string"},"tipoCredito":{"type":"string"},"ugEmitente":{"type":"string"},"codigoAmparoLegal":{"type":"integer","format":"int32"},"informacoesComplementares":{"type":"string"},"nomeFavorecido":{"type":"string"},"unidadeOrcamentaria":{"type":"string"},"ugResponsavel":{"type":"integer","format":"int32"},"planoOrcamentario":{"type":"string"},"autorEmenda":{"type":"string"},"numeroNotaEmpenhoGerada":{"type":"string"},"localEntrega":{"type":"string"},"valorEmpenho":{"type":"number","format":"double"},"nrPtres":{"type":"string"},"idProjetoInvestimento":{"type":"string"},"pagina":{"type":"integer","format":"int32"},"tamanhoDaPagina":{"type":"integer","format":"int32"}}},"PageFiltroExecucaoFinanceiraDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/FiltroExecucaoFinanceiraDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"FiltroSaldoContabilDTO":{"type":"object","properties":{"ugEmitente":{"type":"integer","format":"int32"},"nrNotaEmpenho":{"type":"string"},"vlTransferidoExercicioAnterior":{"type":"number","format":"double"},"vlTransferido":{"type":"number","format":"double"},"vlRestosAPagar":{"type":"number","format":"double"},"vlReinscritoRp":{"type":"number","format":"double"},"vlReforcado":{"type":"number","format":"double"},"vlRecebidoTransferido":{"type":"number","format":"double"},"vlRecebidoExercicioAnterior":{"type":"number","format":"double"},"vlPago":{"type":"number","format":"double"},"vlLiquidadoAPagar":{"type":"number","format":"double"},"vlInscritoRp":{"type":"number","format":"double"},"vlIncluido":{"type":"number","format":"double"},"vlEmLiquidacao":{"type":"number","format":"double"},"vlCanceladoExercicioAnterior":{"type":"number","format":"double"},"vlAnuladoCancelado":{"type":"number","format":"double"},"vlALiquidar":{"type":"number","format":"double"}}},"PageFiltroSaldoContabilDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/FiltroSaldoContabilDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"FiltroContratoIntervencaoDTO":{"type":"object","properties":{"idProjetoInvestimento":{"type":"string"},"numeroContrato":{"type":"string"},"vigenciaInicio":{"type":"string","format":"date-time"},"vigenciaFim":{"type":"string","format":"date-time"},"dataAssinatura":{"type":"string","format":"date-time"},"dataPublicacao":{"type":"string","format":"date-time"},"objeto":{"type":"string"},"processo":{"type":"string"},"receitaDespesa":{"type":"string"},"codigoOrgao":{"type":"string"},"orgaoNome":{"type":"string"},"fornecedorCnpjCpfIdgener":{"type":"string"},"fornecedorNome":{"type":"string"},"categoria":{"type":"string"},"licitacaoNumero":{"type":"string"},"valorGlobal":{"type":"number","format":"double"},"valorAcumulado":{"type":"number","format":"double"},"codigoContrato":{"type":"string"},"foraVigencia":{"type":"boolean"},"nrCtrlePncpCompra":{"type":"string"},"pagina":{"type":"integer","format":"int32"},"tamanhoDaPagina":{"type":"integer","format":"int32"}}},"PageFiltroContratoIntervencaoDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/FiltroContratoIntervencaoDTO"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}}}}}